// Show logo fade in with slide from left
.page-header__logo {
  opacity: 0;
}

body.loaded .page-header__logo {
  opacity: 1;
  animation: showLogo 0.3s cubic-bezier(0, 0, 0.16, 0.98) forwards;
}

@keyframes showLogo {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// Show main menu fade in
.page-header__nav {
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.16, 0.98);
}

body.loaded .page-header__nav {
  opacity: 1;
}


// menu links hover
.page-header__menu a {
  transition: color 0.2s ease-in, transform 0.1s linear;

  &:active {
    transform: scale(0.95);
  }

  &::after {
    content: "";
    display: block;
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    transform: scaleX(0);
    transform-origin: right center;
  }

  &.active {
    &::after {
      transform: scaleX(1);
      animation: showMenuItemBorder 0.4s ease-in;
      transition: background-color 0.2s ease-in;
      transform-origin: left center;
    }
  }

  &:hover,
  &:focus {
    color: $c-purple;
    outline: none;

    &::after {
      background-color: $c-purple;
      transform: scaleX(1);
      animation: showMenuItemBorder 0.3s ease;
      transform-origin: left center;
    }
  }
}

@keyframes showMenuItemBorder {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
